@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя странца";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на базы данных</h1>
    <p>не знаю насколько отлично работает, но надеюсь работает отлично</a>.</p>
</div>
